.alert{
  background: yellow;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}
.text{
  margin: auto;
  text-align: center;
  vertical-align: middle;
  padding: 0.1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  /*font-weight: bold;*/
  color: black;
}
.text > p > img {
  height: 2vh;
}
