html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}
body{
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #101214;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}
#intro{
  background-image: url();
  background-color: #101214;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
div{
  width: 100%;
}
h5{
  font-size: 8vh;
  vertical-align: middle;
}
h2{
  vertical-align: middle;
  font-size: 3vh;
}
h3{
  padding-left: 20px;
  vertical-align: middle;
  font-size: 3vh;
}
h4{
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: middle;
  font-size: 5vh;
}


.navbar{
  overflow: hidden;
  background-color: #101214;
  height: 8vh;
  border-bottom: 2px dotted #0097e6;
  vertical-align:middle;
  display: table-cell;
  position: fixed;
  top: 0;
  z-index: 100;
}
.table{
  display: table;
}
.content{
  vertical-align: middle;
  height: 90vh;
  display: table-cell;
  position: relative;
  padding-left: 40px;
  background: linear-gradient(90deg, rgba(0,0,0,1) 7%, rgba(0,0,0,0.6502801804315477) 55%, rgba(255,255,255,0) 100%);
  background-repeat: no-repeat;
  animation: txtbg 1s ease-in;
}
.pcard{
  vertical-align: middle;
  height: 20vh;
  display: table-cell;
  position: relative;
  padding: 10px;
  background: linear-gradient(90deg, rgba(0,0,0,1) 7%, rgba(0,0,0,0.6502801804315477) 55%, rgba(255,255,255,0) 100%);
}
.buttony{
  display: flex;
  justify-content: flex-start;
}
/*.button{
  background-color: transparent;
  border: 3px solid #00a8ff;
  border-radius: 400px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vh;
  margin: 4px 2px;
  cursor: pointer;
  transition: .5s;
  z-index: auto;
}
*/
.button:hover{
  background-color: #00a8ff;
  border: 3px solid rgba(0, 0, 0, 1);
}

.button-main{
  background-color: #00a8ff;
  border: 3px solid #00a8ff;
  border-radius: 400px;
  color: white;
  padding: 2vh 2.5vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5vh;
  margin: 4px 2px;
  cursor: pointer;
  transition: .5s;
}
.button-main:hover{
  border: 3px solid rgba(0, 0, 0, 1);
}
.pakiety{
  background-color: #101214;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}

.product{
  display: inline;
}
.product img{
  height: 5vw;
}
/*.flex{
  margin: auto;
  width: 1200px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}*/

.flex{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex div {
  width: 25vw;
  min-width: 300px;
  text-align: center;
  margin: auto;
  border: 20px solid none;
}



.service{
  width: 300px;
  text-align: center;
  margin: 50px;
  padding: 20px;
  border: 2px solid #181b1e;
  background-color: #181b1e;
  border-radius: 15px;
  transition: .5s;
}

.service:hover{
  border: 2px solid #22272b;
  background-color: #22272b;
}


.inline{
  display: inline-block;
}

.qubi {
	background: linear-gradient(315deg, rgba(18,60,255,1) 0%, rgba(0,212,255,1) 100%);
	background-size: 500%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;
}
@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}

#enter1{
  animation: enter 1s;
  margin: 0;
}
#enter2{
  animation: enter 2s;
}
#enter3{
  animation: enter 4s;
}


@keyframes enter {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes outld {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes txtbg {
  0% { background-position: -89vh 0px; }
  100% { background-position: 0px 0px;}
}

.loadingscreen{
  width: 100%;
  height: 100%;
  background: #000000;
  position: absolute;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 101;
}
.loadingscreen .load{
  position: fixed;
  z-index: 102;
  text-align: center;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loadingscreen .load img{
  height: 5vh;
}
.credits{
  font-size: 1.5vh;
}
