body{
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #202328; /* light: #bec9d8 */
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

@media (max-width: 600px) {
  h1{
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 10vh;
  }
  h2{
    border-top: 0;
    margin-top: 10px;
    padding-top: 0;
    font-size: 8vh;
  }
 p{
  font-size: 40px;
  }
}

h1{
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 4vh;
}
h2{
  border-top: 0;
  margin-top: 10px;
  padding-top: 0;
  font-size: 2.5vh;
}
p{
  font-size: 20px;
}

.text{
  margin: auto;
  min-width: 50%;
  max-width: 80%;
}




.qubi {
	background: linear-gradient(315deg, rgba(18,60,255,1) 0%, rgba(0,212,255,1) 100%);
	background-size: 500%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;
}
@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}
